<a href="https://colab.research.google.com/github/yihaiqingtian/AgentGPT/blob/main/%D0%A3%D1%80%D0%BE%D0%BA_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## list

**массив, список, лист**

Вот мы и добрались до типов языка python, которые представляют собой *контейнеры*, то есть, это типы данных, которые являют собой хранилища для других типов данных.

Один из таких типов -- `list` (массив, список, лист). Это контейнер, куда можно положить сколько угодно других переменных, значений, и эти переменные даже могут быть разных типов и даже так же могут быть контейнерами (и даже не обязательно тип данных определен языком python)! То есть, в list можно положить list:

Чтобы задать list, надо в квадратные скобки `[]` положить нужные элементы. Пустые скобки задают пустой list. Пустой лист также можно задать, написав `list()`:

In [ ]:
a = list()
b = []

# убедимся, что два варианта создания пустого массива эквивалентны:
print(a == b)

True

По аналогии со строкой, как последовательностью символов, чье значение задавалось перечислением этих символов, значение списка тоже можно задать перечислением его элементов. Отдельные элементы списка разделяются запятой, а весь список заключается в квадратные скобки:

In [ ]:
# можно хранить разные типы данных!
c = [2, 'a', [4, 'stroka', 6.56]]

## Операции со списками

Списки можно считать обобщением строк в том смысле, что списки - это тоже упорядоченные последовательности, но значения списка могут быть произвольного типа. Большинство операций, описанных ранее для строк, полностью переносятся на списки:

### Индексация

In [ ]:
# первый элемент, нулевой индекс
c[0]

2

In [ ]:
# последний элемент, индекс 2
c[-1]

[4, 'stroka', 6.56]

In [ ]:
# он же
c[2]

[4, 'stroka', 6.56]

In [ ]:
# ошибка т.к. вышли за пределы массива - list index out of range
c[3]

IndexError: ignored

### Конкатенация

Списки можно считать обобщением строк в том смысле, что списки - это тоже упорядоченные последовательности, но значения списка могут быть произвольного типа. Большинство операций, описанных выше для строк, полностью переносятся на списки:

In [ ]:
c + [1, 2, 3]

[2, 'a', [4, 'stroka', 6.56], 1, 2, 3]

In [ ]:
c * 2

[2, 'a', [4, 'stroka', 6.56], 2, 'a', [4, 'stroka', 6.56]]

### In, len, sum, all, any

Общие методы для разных контейнеров, рассмотрим их на примере списков

In [ ]:
2 in c # наличие двойки в тексте

True

In [ ]:
len(c) # 3 элемента

3

In [ ]:
sum([1, 2, 3])

6

функции all(x) и any(x)

Функция all возвращает логическое значение True, если все элементы последовательности равны True (или последовательность пуста) и False в противном случае.

Напоминание о приведении типов: к значению True приводятся все отличные от нуля числа и любые непустые последовательности, к значению False приводится число нуль и все пустые последовательности.

In [ ]:
all([True, True, True])

True

In [ ]:
all([True, True, False])

False

Функция any возвращает логическое значение True, если хотя бы один элемент непустой последовательности
равен True. В противном случае, а также если последовательность пуста, возвращает False.

In [ ]:
any([False, False, True])

True

In [ ]:
any([False, False, False])

False

### Слайсинг (срезы)

In [ ]:
# шагаем с нулевого индекса по последний с шагом - 1
# это и есть разворот списка
c[::-1]

[[4, 'stroka', 6.56], 'a', 2]

In [ ]:
# с первого включительно по 4й не включя индекс
c[1:4]

['a', [4, 'stroka', 6.56]]

In [ ]:
c[1:]

['a', [4, 'stroka', 6.56]]

In [ ]:
c[:2]

[2, 'a']

In [ ]:
c[:3:2] # с нулевого включительно по третий не включая с шагом 2

[2, [4, 'stroka', 6.56]]

Важное отличие списков от строк заключается в том, что списки можно изменять - как его отдельные элементы, так и перечень самих элементов (добавлять, удалять элементы из последовательности и т.п.). Ниже указаны некоторые такие операции:

In [ ]:
# заменим список на 2м индексе на единицу
c[2] = 1

In [ ]:
# можно увидеть, что значения поменялись
c

[2, 'a', 1]

In [ ]:
# кстатис иногда ошибки связаны со сменой раскладки, т.к. ниже русская с а не английская
с

NameError: ignored

In [ ]:
# можно так же заменять целые диапазоны
# теперь вместо диапазона начинающегося с 1 индеса включительно
# и заканчивающегося на 2 индесе не включая записаны значения 10 и 20
c[1:2] = [10, 20]
c

[2, 10, 20, 1]

#### Append, pop

Эти два метода списка чаще всего используются в реальной работе:


c.append(elem)

добавление элемента elem в конец списка c:

In [ ]:
c.append(2)
c

[2, 10, 20, 1, 2]

Разница между конкатенацией и добавлением элемента следующая: в первом случае это создание нового значения и присвоение этого нового значения переменной, во втором случае - это изменение текущего значения. Так что конкатенация определена и для строк и для списков, а добавление элемента - только для списков.

c.pop()

In [ ]:
c.pop()
c

[2, 10, 20, 1]

Операция pop() имеет возвращаемое значение - элемент, который был удален. Пример использования:

In [ ]:
deleted = c.pop()
c

[2, 10, 20]

In [ ]:
# удаленный элемент, при прошлом запуске
# результат возвращения функции pop никуда не был записан
deleted

1

### Работа по ссылке

Отметим одну важную вещь в устройстве контейнеров python (и не только, библиотеки работают схожим образом):

In [ ]:
a = [1 , 2 , 3]
print(a) # программа выведет [1 , 2 , 3]
b = a
a[0] = 99
print(b) # программа выведет [99 , 2 , 3] , хотя изменяли список a - это связанно с тем, что он был списком из ссылок

[1, 2, 3]
[99, 2, 3]

Чтоб избежать такого поведения, можно напрямую вызывать метод copy, который будет возврщать именно копию (физически на оперативной памяти новое пространство) нашего списка, и изменения исходных значений не повлияют на скопированную:

In [ ]:
a = [1 , 2 , 3]
print(a) # программа выведет [1 , 2 , 3]
b = a.copy()
a[0] = 99
print(b) # программа выведет [1 , 2 , 3] , поскольку сделали копию

[1, 2, 3]
[1, 2, 3]

In [ ]:
a = [1 , 2 , 3]
print(a) # программа выведет [1 , 2 , 3]
b = list(a) # аналогичным обарзом работает и явное приведение типов к списку
a[0] = 99
print(b) # программа выведет [1 , 2 , 3] , поскольку сделали копию

[1, 2, 3]
[1, 2, 3]

## Прочие встроенные методы

### Insert

метод a.insert(i, x)

Вставляет элемент x в i-ю позицию списка a. Метод insert ничего не возвращает.

Действие метода равносильно следующему оператору: a[i:i] = x

In [ ]:
a = [1, 2, 3]

a.insert(1, 10500)
a

[1, 10500, 2, 3]

### Extend

a.extend(x)

Добавляет список x в конец списка a. Возвращает измененный список a. Действие аналогично операции
a = a + x, но выполняется быстрее конкатенации.

In [ ]:
a = [1, 2, 3]
a.extend([5, 6])
a

[1, 2, 3, 5, 6]

### Pop

a.pop(i)

Метод удаляет i-й элемент списка a и возвращает этот элемент.

Обратите внимание, что параметр i метода pop является необязательным. Если он не указан, то считается, что удаляется последний элемент.
Если список пуст, произойдет ошибка.

In [ ]:
a = [1, 2, 3]
removed = a.pop()
a

[1, 2]

In [ ]:
removed

3

In [ ]:
a = [1, 2, 3]
removed = a.pop(1)
a

[1, 3]

In [ ]:
removed

2

### Del

del a

Действие оператора del такое же, как и метода a.pop(x), но в отличие от метода pop оператор del не возвращает никакого значения.

In [ ]:
del a[0]
a

[3]

In [ ]:
del a
a # можно и вовсе удалить переменную, видим, что она теперь не определена

NameError: ignored

### Remove

a.remove(x)
Удаляет первое вхождение элемента x из списка a. Аналогично операции del a[t.index(x)]

In [ ]:
a = [1, 2, 3]
a.remove(2)
a

[1, 3]

### Reverse

a.reverse()

Разворачивает список a, меняя порядок следования элементов на противоположный. Не возвращает значения.

In [ ]:
a = [1, 2, 3]
a.reverse()
a

[3, 2, 1]

### Sort

a.sort([cmp[, key[, reverse]]])

Метод сортирует список a в порядке возрастания элементов. Параметры cmp и key метода sort позволяют определять собственный способ сравнения элементов списка, а также, с помощью параметра reverse, получать
результат в обратном порядке (вместо дополнительного вызова метода reverse()).

In [ ]:
a = [2, 3, 1]
a.sort()
a

[1, 2, 3]

In [ ]:
a = [2, 3, 1]
a.sort(reverse=True)
a

[3, 2, 1]